{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block javascript %}
    {{ include('StripePaymentGateway/Resource/assets/css/base.css.twig') }}
    {{ include('StripePaymentGateway/Resource/assets/css/stripe_4.css.twig') }}
    {{ include('StripeRec/Resource/assets/css/checkout.css.twig') }}
    {{ include('StripeRec/Resource/assets/css/card_form.css.twig') }}
    {{ include('StripeRec/Resource/assets/js/card_form.js.twig') }}
{% endblock javascript %}
{% block stylesheet %}
    <style>
        .input-element {
            padding: 10px !important;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .half-width {
            width: 50%;
        }
        .ec-pageHeader{
            margin-top: 60px;
        }
    </style>
{% endblock %}
{% block main %}

    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '支払い'|trans }}</h1>
        </div>
    </div>

    <div class="ec-cartRole">
        <div class="ec-cartRole__progress">
            <ul class="ec-progress">
                {% set step = 1 %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'カートの商品'|trans }}
                    </div>
                </li>
                {% if is_granted('ROLE_USER') == false %}
                    <li class="ec-progress__item">
                        <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                        </div>
                        <div class="ec-progress__label">{{ 'お客様情報'|trans }}
                        </div>
                    </li>
                {% endif %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文手続き'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item  is-complete">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文内容確認'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ '完了'|trans }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <main>
        <form action="{{ url('plugin_striperec_checkout') }}" method="POST" id="checkout_form">
            {% if stripePaymentMethodObj is defined and stripePaymentMethodObj != false and is_granted('ROLE_USER') == true %}
            <section class="container-lg" style="width:600px">
                <div class="cell example example4" id="example-4" style="background-color:white;">
                    <div class="stripe_payment_gateway_existing_box" style="margin-bottom:60px; display:block;">
                        <p class="stripe_payment_gateway_text">保存済みカード</p>
                        <div style="border: 1px solid #ccc; padding: 15px; display: flex; justify-content: space-between;">
                            <div style="color: #555;">
                                <svg id="Capa_1" enable-background="new 0 0 511.979 511.979" height="30" viewBox="0 0 511.979 511.979" width="30" xmlns="http://www.w3.org/2000/svg"><g><path d="m498.819 166.33-153.171-153.171c-17.546-17.546-46.096-17.544-63.64 0l-192.201 192.202h-44.807c-24.813 0-45 20.187-45 45v216.617c0 24.813 20.187 45 45 45h344.62c24.813 0 45-20.187 45-45v-172.81l64.199-64.199c17.546-17.545 17.546-46.093 0-63.639zm-195.597-131.958c2.925-2.924 6.766-4.387 10.607-4.387s7.682 1.463 10.606 4.387l78.925 78.925-92.064 92.064h-179.064zm101.398 432.606c0 8.271-6.729 15-15 15h-344.62c-8.271 0-15-6.729-15-15v-216.617c0-8.271 6.729-15 15-15h344.62c8.271 0 15 6.729 15 15zm-8.896-261.192c-1.998-.272-4.033-.425-6.104-.425h-35.898l70.851-70.852 21.214 21.214zm81.882 2.971-42.986 42.986v-1.382c0-11.402-4.271-21.821-11.286-29.759l43.666-43.666 10.606 10.606c5.849 5.849 5.849 15.366 0 21.215z"/><path d="m60 406.574h55.819v30h-55.819z"/><path d="m146.267 406.574h55.819v30h-55.819z"/><path d="m232.534 406.574h55.82v30h-55.82z"/><path d="m318.801 406.574h55.819v30h-55.819z"/><path d="m161.267 280.766h-101.267v90h101.267zm-30 60h-41.267v-30h41.267z"/></g></svg>
                                <div style="display: inline-block; margin-left: 10px;">
                                    <div>
                                        末尾 {{ stripePaymentMethodObj.card.last4 }}
                                    </div>
                                    <div>
                                        {{ exp }}
                                    </div>
                                </div>
                            </div>
                            <a class="btn-delete-card" type="button" style="cursor: pointer;">
                                <svg style="margin-top: 15px;" height="10pt" viewBox="0 0 365.696 365.696" width="10pt" xmlns="http://www.w3.org/2000/svg"><path d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"/></svg>
                            </a>
                        </div>
                        <button class="pay-existing-method stripe_payment_gateway_payment_btn" type="button" style="margin-bottom: 10px;">保存済みのカードで支払う</button>
                    </div>
                    <style>
                        .existing-card-wrapper{
                            border: 1px solid #ccc;
                            padding: 15px;
                            display: flex;
                            border-radius: 5px;
                        }
                    </style>
                </div>
            </section>
            {% endif %}
            <div class="wrapper" id="app">
                <div class="card-form">
                    <div class="card-list">
                        <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
                            <div class="card-item__side -front">
                                <div class="card-item__focus" v-bind:class="{'-active' : focusElementStyle }" v-bind:style="focusElementStyle" ref="focusElement"></div>
                                <div class="card-item__cover">
                                    <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
                                </div>

                                <div class="card-item__wrapper">
                                    <div class="card-item__top">
                                        <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png" class="card-item__chip">
                                        <div class="card-item__type">
                                            <transition name="slide-fade-up">
                                                <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'" v-if="getCardType" v-bind:key="getCardType" alt="" class="card-item__typeImg">
                                            </transition>
                                        </div>
                                    </div>
                                    <label for="cardNumber" class="card-item__number" ref="cardNumber">
                                        <template v-if="getCardType === 'amex'">
                                <span v-for="(n, $index) in amexCardMask" :key="$index">
                                    <transition name="slide-fade-up">
                                        <div class="card-item__numberItem" v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''">*</div>
                                        <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" :key="$index" v-else-if="cardNumber.length > $index">${cardNumber[$index]}</div>
                                        <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" v-else :key="$index + 1">${n}</div>
                                    </transition>
                                </span>
                                        </template>
                                        <template v-else>
                                <span v-for="(n, $index) in otherCardMask" :key="$index">
                                    <transition name="slide-fade-up">
                                    <div class="card-item__numberItem" v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''">*</div>
                                    <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" :key="$index" v-else-if="cardNumber.length > $index">${cardNumber[$index]}</div>
                                    <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" v-else :key="$index + 1">${n}</div>
                                    </transition>
                                </span>
                                        </template>
                                    </label>
                                    <div class="card-item__content">
                                        <label for="cardName" class="card-item__info" ref="cardName">
                                            <div class="card-item__holder">Card Name</div>
                                            <transition name="slide-fade-up">
                                                <div class="card-item__name" v-if="cardName.length" key="1">
                                                    <transition-group name="slide-fade-right">
                                                        <span class="card-item__nameItem" v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')" v-if="$index === $index" v-bind:key="$index + 1">${n}</span>
                                                    </transition-group>
                                                </div>
                                                <div class="card-item__name" v-else key="2">Full Name</div>
                                            </transition>
                                        </label>
                                        <div class="card-item__date" ref="cardDate">
                                            <label for="cardMonth" class="card-item__dateTitle">有効期限</label>
                                            <label for="cardMonth" class="card-item__dateItem">
                                                <transition name="slide-fade-up">
                                                    <span v-if="cardMonth" v-bind:key="cardMonth">${cardMonth}</span>
                                                    <span v-else key="2">MM</span>
                                                </transition>
                                            </label>
                                            /
                                            <label for="cardYear" class="card-item__dateItem">
                                                <transition name="slide-fade-up">
                                                    <span v-if="cardYear" v-bind:key="cardYear">${String(cardYear).slice(2,4)}</span>
                                                    <span v-else key="2">YY</span>
                                                </transition>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__side -back">
                                <div class="card-item__cover">
                                    <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
                                </div>
                                <div class="card-item__band"></div>
                                <div class="card-item__cvv">
                                    <div class="card-item__cvvTitle">セキュリティコード</div>
                                    <div class="card-item__cvvBand">
                            <span v-for="(n, $index) in cardCvv" :key="$index">
                                *
                            </span>
                                    </div>
                                    <div class="card-item__type">
                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'" v-if="getCardType" class="card-item__typeImg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-form__inner">
                        <div class="card-input">
                            <label for="cardNumber" class="card-input__label">カード番号</label>
                            <input type="text" id="cardNumber" class="card-input__input" v-mask="generateCardNumberMask" v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber" autocomplete="off">

                        </div>
                        <div class="card-input">
                            <label for="cardName" class="card-input__label">Card Name</label>
                            <input type="text" id="cardName" class="card-input__input" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
                        </div>
                        <div class="card-form__row">
                            <div class="card-form__col">
                                <div class="card-form__group">
                                    <label for="cardMonth" class="card-input__label">有効期限</label>
                                    <select class="card-input__input -select" id="cardMonth" v-model="cardMonth" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                        <option value="" disabled selected>Month</option>
                                        <option v-bind:value="n < 10 ? '0' + n : n" v-for="n in 12" v-bind:disabled="n < minCardMonth" v-bind:key="n">
                                            ${n < 10 ? '0' + n : n}
                                        </option>
                                    </select>
                                    <select class="card-input__input -select" id="cardYear" v-model="cardYear" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                        <option value="" disabled selected>Year</option>
                                        <option v-bind:value="$index + minCardYear" v-for="(n, $index) in 12" v-bind:key="n">
                                            ${$index + minCardYear}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-form__col -cvv">
                                <div class="card-input">
                                    <label for="cardCvv" class="card-input__label">セキュリティコード</label>
                                    <input type="text" class="card-input__input" id="cardCvv" v-mask="'####'" maxlength="4" v-model="cardCvv" v-on:focus="flipCard(true)" v-on:blur="flipCard(false)" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div id="card_error" style="color:red; display:none;">お支払いできません。 カード情報を再確認してください。</div>
                        <button type="button" class="pay-button card-form__button">
                            新しいカードで支払う
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </main>


    <style>
        .stripe_payment_gateway_text{
            font-weight: bold!important;
            margin-bottom: 10px!important;
        }

        .stripe_payment_gateway_payment_btn{
            margin-top: 10px!important;
            background: #8c8c8c!important;
            height: auto!important;
            padding: 20px!important;
        }
        .stripe_payment_gateway_payment_btn:hover{
            background: #656565!important;
        }

    </style>
    <script>

    

    $('.pay-existing-method').on('click', function(e) {
        $('#card_error').hide();
        loadingOverlay("show");

        var payment_method_id = '{{ stripePaymentMethodObj.id ?? 7 }}'
        do_pay(payment_method_id);
    })

    function do_pay(payment_method_id){
        $.ajax({
            type: 'POST',
            data: {
                payment_method_id : payment_method_id
            },
            url: '{{ url("plugin_striperec_presubscripe") }}',
            success: function(data){
                if(!data['error']){
                    console.log(document.getElementById('checkout_form'));
                    document.getElementById('checkout_form').submit();
                }else{
                    showError(data['message']);
                }
            }
        })
    }

    function showError(err){
        loadingOverlay("hide");
        $('#card_error').show();
    }

    </script>
{% endblock %}
