{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'change' %}

{% set body_class = 'mypage' %}

{% block main %}
    <div id="wrap">
        <main id="mypage">
            <section class="mypageContent customerContent">
                <h2>{{ 'マイページ'|trans }}/{{ '会員情報変更(完了)'|trans }}</h2>
                {% include 'Mypage/navi.twig' %}
            </section>
            <div class="ec-registerCompleteRole">
                <div class="ec-off2Grid ec-text-ac">
                    <div class="ec-off2Grid__cell">
                        <div class="ec-reportHeading">
                            <h2>{{ '会員登録内容の変更が完了いたしました'|trans }}</h2>
                        </div>
{#                        <p class="ec-reportDescription">{{ 'それでは、引き続きショッピングをお楽しみください。'|trans }}</p>#}
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell"><a class="ec-blockBtn--cancel"
                                                              href="{{ url('mypage_change') }}">{{ '戻る'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}