{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block javascript %}
<script>
    $(function() {
        var order_id;
    $('.btn-modal').each(function(){
        $(this).on('click', function () {
            
            var selOrderId = $(this).data('order');
            if (selOrderId){
                order_id = selOrderId;
            }

            var action = $(this).data('action');
            var target = $(this).data('target');
            var modal = document.getElementById(target);

            if (action=='withraw'){
                $.ajax({
                    url: '{{ url('mypage_withdraw_request') }}',
                    type: 'POST',
                    data: {
                            'order_id' : order_id,
                            'withdraw_type' : $(this).data('type')
                        },
                    dataType: 'json',
                }).done(function(data) {
                    if(data['done']){
                        $(modal).fadeIn();
                        $('body').css('overflow-y', 'hidden');
                    }else{
                        alert(data['messages']);
                    }
                }).fail(function(data) {
                    alert('{{ '失敗しました。'|trans }}');
                });
            }else{
                var target = $(this).data('target');
                var modal = document.getElementById(target);
                $(modal).fadeIn();
                $('body').css('overflow-y', 'hidden');
                return false;
            }
        });

    });
    $('.modal-close').on('click', function () {
        $('form').submit();
    });


});
</script>
{% endblock %}

{% block main %}

    <style>
        footer{
            background: white !important;
        }

        .withdraw_btn .btn{
            background: #ff9800;
            border-color: #ff9800;
            -webkit-box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 25%);
            box-shadow: 0px 1px 2px 1px rgb(0 0 0 / 25%);
            border-radius: 5px;
            width: 170px;
            padding: 5px;
            text-decoration: none;
            color: #fff;
            text-align: center;
            font-weight: bold;
        }
    </style>
    <div id="wrap">
        <main id="mypage">
            <section class="mypageContent">
                <h2>{{ 'マイページ'|trans }}/{{ '解約手続'|trans }}</h2>
                <div class="mypageContent__name">{{ 'ようこそ%last_name% %first_name%さん'|trans({ '%last_name%': app.user.name01, '%first_name%': app.user.name02 }) }}</div>
                {% include 'Mypage/navi.twig' %}
                <div class="mypageContentBox">
                    {% if pagination.totalItemCount > 0 %}
                        <p class="ec-para-normal">{{ '%count%件の履歴があります'|trans({'%count%':pagination.totalItemCount}) }}</p>
                        <table>
                            <thead>
                            <tr>
                                <th>注文<br class="sp">番号</th>
                                <th>契約日</th>
                                <th>契約<br class="sp">内容</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for Order in pagination %}
                                {% set WithdrawPlan = repository('Customize\\Entity\\Withdraw').getWithdrawPlan(Order) %}

                                <tr>
                                    <td>{{ Order.order_no }}</td>
                                    <td>{{ Order.order_date|date_sec }}</td>
                                    <td>
                                        {% for shipping in Order.shippings %}
                                            {% set idx = loop.index0 %}
                                            {% set isShowReducedTaxMess = false %}

                                            {% for orderItem in shipping.productOrderItems %}
                                                <dl>
                                                    <dt>{{ orderItem.productName }}</dt>
                                                    <dd>¥ 4,800</dd>
                                                </dl>
                                                <dl>
                                                    <dt>オプション</dt>
                                                    <dd>
                                                        {% if orderItem.productClass.classCategory1 == 'フリー補償' %}
                                                            ¥ 550
                                                        {% elseif orderItem.productClass.classCategory1 == 'ライト補償' %}
                                                            ¥ 275
                                                        {% endif %}
                                                    </dd>
                                                </dl>
                                                <dl>
                                                    <dt>初月費用</dt>
                                                    <dd>¥ 3,300</dd>
                                                </dl>
                                            {% endfor %}

                                        {% endfor %}

                                    </td>
                                    <td class="withdraw_btn" style="text-align : center;">
                                        {% if (WithdrawPlan) %}
                                            プラン解約申請中
                                        {% else %}
                                            <button type="button" class="btn btn-modal" name="mode" data-target="confirmModal" value="confirm"  data-order="{{ Order.id }}">{{ '各種解約手続きに進む'|trans }}</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="ec-pagerRole">
                            {% include "pager.twig" with {'pages': pagination.paginationData} %}
                        </div>
                    {% else %}
                        <p class="ec-para-normal">{{ 'ご注文履歴はありません。'|trans }}</p>
                    {% endif %}

                </div>
            </section>
        </main>
    </div>

    <div id="confirmModal" class="modal js-modal modalfix" style="display: none;">
        <div class="modal-bg modal-close"></div>
        <div class="modal-content">
            <h3>解約手続きの前にご確認ください</h3>
            <p style="text-align:center;">
                ※当月解約の締切日は毎月15日となります。<br />
                16日以降のご解約申請に関しては<br />
                翌月末の解約となりますので予めご了承ください。<br />
                ※安心補償オプションにご加入されているお客様は、<br />
                「安心補償オプションの取消」のご申請は必要ございません。
            </p>
            <ul class="btn-wrap">
                <button type="button" class="btn btn-modal" name="mode" data-target="optionModal" value="confirm">{{ '手続きへ進む'|trans }}</button>
            </ul>
        </div>
    </div>
    <div id="optionModal" class="modal js-modal modalfix" style="display: none;">
        <div class="modal-bg modal-close"></div>
        <div class="modal-content">
            <h3>解約手続き</h3>
            <p style="text-align:center;">
                安心補償解約の際は「安心補償取消へ」、<br />
                プラン解約の際は「プラン解約へ」をご選択ください。
            </p>
            <ul class="btn-wrap">
                <li>
                	<a class="btn" href="/form/op-kaiyaku/">{{ '安心補償取消へ'|trans }}</a>
                    <!-- 
                    <button type="button" class="btn btn-modal" name="mode" data-target="secretModal" value="confirm" data-action="withraw" data-type="secret">{{ '安心補償取消へ'|trans }}</button>
                	-->
                </li>
                <li>
                	<a class="btn" href="/form/kaiyaku/">{{ 'プラン解約へ'|trans }}</a>
                    <!-- 
                    <button type="button" class="btn btn-modal" name="mode" data-target="planModal" value="confirm" data-action="withraw" data-type="plan">{{ 'プラン解約へ'|trans }}</button>
                	-->
                </li>
            </ul>
        </div>
    </div>
    <div id="secretModal" class="modal js-modal modalfix" style="display: none;">
        <div class="modal-bg modal-close"></div>
        <div class="modal-content">
            <h3>安心補償取消について</h3>
            <p style="text-align:center;">
                安心補償解約の取消を承りました。<br />
                <br />
                引き続き弊社をご愛顧賜りますようお願い申し上げます。
            </p>
            <ul class="btn-wrap">
                <li>
                    <a href="{{ url('mypage') }}" class="btn">マイページへ</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="planModal" class="modal js-modal modalfix" style="display: none;">
        <div class="modal-bg modal-close"></div>
        <div class="modal-content">
            <h3>プラン解約について</h3>
            <p style="text-align:center;">
                弊社サービスをご利用いただきありがとうございました。<br />
                <br />
                またのご利用お待ちしております。
            </p>
            <ul class="btn-wrap">
                <li>
                    <a href="{{ url('mypage') }}" class="btn">マイページへ</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}