{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set mypageno = 'withdraw' %}

{% set body_class = 'mypage' %}

{% block javascript %}
    <script>
        $(function() {
            $('.btn-modal').each(function(){
                $(this).on('click', function () {
                    var target = $(this).data('target');
                    var modal = document.getElementById(target);
                    $(modal).fadeIn();
                    $('body').css('overflow-y', 'hidden');
                    return false;
                });
                
            });
            $('.modal-close').on('click', function () {
                $('.js-modal').fadeOut();
                $('body').css('overflow-y','auto');
                return false;
            });
           
        });
    </script>
{% endblock %}

{% block main %}

<style>
    footer{
        background: white !important;
    }
</style>
    <div id="wrap">
        <main id="mypage">
            <section class="mypageContent">
                <h2>{{ 'マイページ'|trans }}/{{ '解約手続'|trans }}</h2>
                <div class="mypageContent__name">{{ 'ようこそ%last_name% %first_name%さん'|trans({ '%last_name%': app.user.name01, '%first_name%': app.user.name02 }) }}</div>
                {% include 'Mypage/navi.twig' %}
                <div class="mypageContentBox">
                    <div style="font-size:100px;text-align:center;">
                        <div class="ec-icon"><img src="{{ asset('assets/icon/exclamation.svg') }}" alt=""></div>
                    </div>
                    <h3>解約手続きの前にご確認ください</h3>
                    <div class="mypageContentBox__text">安心補償解約の際は「安心補償解約へ」、プラン解約の際は「プラン解約へ」をご選択ください。ポップアップが表示されますので、「解約に関する注意事項」をお読みいただき、「解約する」をご選択ください。</div>
                    <form method="post" action="{{ url('mypage_withdraw') }}">
                        {{ form_widget(form._token) }}
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-modal" name="mode" data-target="cancelGuarantee" 
                                    value="confirm">{{ '安心保障解約へ'|trans }}</button>
                            <button type="button" class="btn btn-modal" name="mode" data-target="cancelPlan" 
                                    value="confirm">{{ 'プラン解約へ'|trans }}</button>
                        </div>
                    </form>

                </div>
            </section>
        </main>
    </div>
    
    <div id="cancelGuarantee" class="modal js-modal modalfix" style="display: none;">
        <div class="modal-bg modal-close"></div>
        <div class="modal-content">
            <h3>解約に関する注意事項</h3>
            <p>こちらでは安心保障解約を行います。<br>「解約する」を選択いただくと、自動で解約手続きが完了いたします。</p>
            <ul class="btn-wrap">
                <li><a href="" class="border-btn modal-btn">戻る</a></li>
                <li><button class="btn btn-modal" data-target="cancel1">解約する</button></li>
            </ul>
        </div>
    </div>
    <div id="cancel1" class="modal js-modal modalfix">
        <div class="modal-bg modal-close"></div>
        <div class="modal-content">
            <h3>安心保障解約について</h3>
            <p>安心保障解約を承りました。<br>引き続き弊社をご愛顧賜りますようお願い申し上げます。</p>
            <ul class="btn-wrap">
                <li><a href="" class="btn border-btn">マイページへ</a></li>
            </ul>
        </div>
    </div>

    <div id="cancelPlan" class="modal js-modal modalfix">
        <div class="modal-bg modal-close"></div>
        <div class="modal-content">
            <h3>解約に関する注意事項</h3>
            <p>こちらではプラン契約を行います。<br /><br /><br /><br /><br /></p>
            <ul class="btn-wrap">
                <li><a href="" class="border-btn modal-btn">戻る</a></li>
                <li><button class="btn btn-modal" data-target="cancel2">解約する</button></li>
            </ul>
        </div>
    </div>

    <div id="cancel2" class="modal js-modal modalfix">
        <div class="modal-bg modal-close"></div>
        <div class="modal-content">
            <h3>プラン解約について</h3>
            <p>プラン解約を承りました。<br>弊社サービスをご利用いただきありがとうございました。<br>またのご利用をお待ちしております</p>
            <ul class="btn-wrap">
                <li><a href="" class="btn border-btn">マイページへ</a></li>
            </ul>
        </div>
    </div>
    
    
{% endblock %}