{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <style>
        .table1 {
            width: 100%;
        }

        .table1, th, td {
            border: 1px solid black;
        }

        .table1 th {
            font-size: 18px;
            background: #D9E1F2;
        }

        .table1 tr td, .table1 tr th{
            text-align: center;
        }

        .small-title {
            font-weight: bold;
        }
    </style>
    <div class="ec-role" style="margin-top: 80px;">
        <div class="ec-pageHeader">
            <h1>{{ 'Free Max+5G 利用規約'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                {{ '
<div class="small-title">第一条　(本規約)</div>
本規約は、株式会社ニッチカンパニー（以下「当社」といいます。）が提供するFree Max+5G（以下「本サービス」 といいます。）に関する基本事項について定めるものであり、当社と本サービスの契約者（以下「契約者」といいます。）との間で適用されます。
当社は、本規約について、契約者に対する事前の予告なく、または一定の予告期間を置いて変更できるものとし、変更後の規約は、当社ウェブサイトにおける公開時から有効となるものとし、契約者は、変更後の規約に従うものとします。

<div class="small-title">第二条　(本規約の変更)</div>
当社は以下の場合に、当社の裁量により本規約を変更することができます。
(1)本規約の変更が、契約者の一般の利益に適合するとき
(2)本規約の変更が、契約をした目的に反せず、かつ、変更の必要性、変更後の内容の相当性、変更の内容その他の変更にかかる事情に照らして、合理的なものであるとき

<div class="small-title">第三条　(本サービス)</div>
本サービスは、携帯電話事業者が提供する回線を利用したワイヤレスデータ通信との相互接続によりインターネットに接続する電気通信サービスです。

<div class="small-title">第四条（利用契約の単位）</div>
本サービスの利用にあたっては１回線ごとに１個の契約を締結するものとします。

<div class="small-title">第五条　(契約の成立)</div>
１．本サービスに関する契約は、契約者が本規約に同意の上、当社所定の方法（電磁的方法を含みます。以下同じです。） により利用申込みを行い、かつ、当社が当該申込みの内容を承諾した日に成立するものとします。
２．利用申込みについて、契約者が以下のいずれかに該当することを当社が確認した場合、当社はその申込みを承諾しないことがあります。
(1)利用申込みにあたり、虚偽の記載、誤記、記載漏れまたは入力漏れがあった場合
(2)過去に本サービスその他当社の提供するサービスの利用の停止または失効を受けた場合
(3)過去に本サービスその他当社の提供するサービスの利用に際し、料金の未納、滞納をした場合
(4)その他、業務の遂行上または技術上、支障をきたすと当社が判断した場合

<div class="small-title">第六条（通信区域）</div>
１．本サービスの通信区域は、携帯電話事業者の通信区域の通りとします。
２．本サービスは、接続されている端末機器が通信区域内に在圏する場合に限り行うことができます。ただし、当該通信区域内であっても、屋内、地下駐車場、ビルの陰、トンネル、山間部等電波の伝わりにくい場所では、通信を行うことができない場合があります。
３．当社は、本規約に同意の上、本サービスの利用契約を締結した契約者が、本サービスの利用により契約者に損害が発生した場合でも一切の責任を負いません。

<div class="small-title">第七条（通信速度等）</div>
１．当社が本サービス上に定める通信速度は、実際の通信速度の上限を示すものではなく、ベストエフォート型であり、通信の混雑状況や契約者の利用環境によって、通信速度が低下するものであることを、契約者は了承するものとします。
２．当社は、本サービスにおける通信速度についていかなる保証もしません 。

<div class="small-title">第八条　(利用料金)</div>
１．契約者は、本サービスの契約プラン（「別紙1-1」参照）により定めた利用料金 を支払うものとします。
２．契約者は、本サービスの契約 に際して、契約者本人名義のクレジットカードにて決済するものとします。
３．本サービスは1ヶ月単位の自動更新となります。 契約が成立した日の属する月の末日までを初月とし、以後毎月1日から月末までを1ヶ月とします。
４．契約者は、契約時に利用開始日を最短 もしくは翌月から指定できるものとします。ただし、翌月利用開始 の場合、初期費用（「別紙1-2」参照）は契約時に支払うものとします。

<div class="small-title">第九条　(レンタル端末の引き渡し)</div>
１．	当社は、本サービスの提供開始にあたり、契約者に対し、レンタル端末等を追跡可能な宅配や郵送を使用、または 店頭で交付し引き渡すものとします。
２．天災や交通事情等による配送予定日時の遅延について、当社は一切の責任を負いません。また、当社の帰責事由の有無によらず当社が委託した配送業者に原因のある場合を含め、配送引き渡し後の遅延についても当社は一切の責任を負いません。

<div class="small-title">第十条　(担保責任)</div>
１．当社は、契約者に対して、レンタル端末等が引き渡し時において正常な性能を有していることのみを保証し、その他レンタル端末等の商品の性能および契約者の使用目的への適合性等については一切の責任を負いません。
２．契約者は、レンタル端末等の受領日当日に当該レンタル端末の性能を確認するものとし、性能不良の場合、受領日当日中に通知するものとし、この場合、当社から、当社の送料負担により、交換品を発送するものとします。契約者が、当社に対しレンタル端末等について受領日当日中に上記通知を行わないときは、レンタル端末等の交換には応じられません。

<div class="small-title">第十一条　(その他免責事項)</div>
１．当社は、回線を所有する通信会社に起因する利用不可能等の事態（Fair Usage Policy（公平利用方針）による通信会社のパケット利用制限を含みます。）について、一切の責任を負わないものとします。
２．当社は、前条および本規約に明示的に定める場合の他、契約者に対して一切の損害賠償責任および利用料金等の減額・返還の義務を負わないものとします。

<div class="small-title">第十二条　(契約内容の変更)</div>
契約者は次の各号に該当する場合、速やかに当社窓口に連絡をするものとします。なお、当社への連絡にかかる費用は契約者が負担するものとします。
(1)契約内容 （契約者の氏名、住所、電話番号等）に変更があった場合
(2)料金支払に使用するクレジットカード情報に変更があった場合

<div class="small-title">第十三条　(利用にあたっての禁止事項)</div>
１．契約者は以下の行為の用に供してはならないものとします。
(1)当社または第三者の権利を侵害する行為または侵害するおそれのある行為
(2)犯罪行為、犯罪的行為もしくは公序良俗またはその他法令に反する行為に結びつく行為またはそのおそれのある行為
(3)コンピュータウイルス等の有害なプログラムを、データ通信型サービスを利用して提供する行為
(4)特定電子メールの送信の適正化等に関する法律または特定商取引に関する法律に違反する行為
２．契約者は、本サービスの利用ならびに契約に際し、自らまたは第三者を利用して、当社に対し、以下の各号に該当する行為をしてはならないものとします。
(1)暴力的な要求行為
(2)法的な責任を超えた不当な要求行為
(3)取引に関して、脅迫的な言動をし、または暴力を用いる行為
(4)風説を流布し、偽計または威力を用いて当社の信用を棄損し、または当社の業務を妨害する行為
(5)その他前各号に準ずる行為

<div class="small-title">第十四条　(損害賠償)</div>
１．当社の責に帰すべき事由により契約者に損害を与えた場合、当社は契約者に生じた直接かつ通常の損害に対して、当該契約期間における月額料金総額の範囲内で責めを負うものとし、これを超える損害については、当社は免責されるものとします。
２．契約者が本規約に定める義務を怠り、または、本規約に定める禁止事項に反したことによって当社に損害を与えた場合は、契約者は、当社に対し、損害の全額を賠償するものとします。

<div class="small-title">第十五条　(解約・解除)</div>
１．契約者は、当社所定の方法で当社に通知することにより、本サービスの契約を解約することができます。
２．前項に基づく契約者の当社に対する通知が各月15日までになされた場合には当該通知がなされた日の属する月の末日を解約日とし、前項に基づく契約者の当社に対する通知が各月16日以降になされた場合には当該通知がなされた日の属する月の翌月末日を解約日として解約すること とし、解約日までの利用料金 を支払うものとします。
３．本サービスの解約 にあたり、当社に対して負っている債務がある 場合は、債務の一切について直ちに当社に対して全ての債務の支払を行わなければなりません。
４．契約者が次のいずれかの各号に該当すると判断した場合、当社は契約者に予告なく契約を解除できるものとします。
(1)第18条に表明する内容と異なる事実が発覚した場合
(2)料金の支払を怠った場合
(3)第13条その他の本規約の条項に違反した場合
(4)契約者の信用状態に重大な変化があった場合

<div class="small-title">第十六条（初期契約解除）</div>
１．本サービスは初期契約解除制度の対象です。
２．契約者は（個人の場合に限ります。以下、本条において同様です。）、当社の出荷連絡の通知を受領した日から起算して８日を経過するまでの間に、契約 の解除（以下「初期契約解除」といいます。）を初期契約解除通知書（以下「書面」といいます。）で申出することとします。
３．契約者は、書面に必要事項（契約者名、住所、電話番号、契約時に受信した電子メールに記載された注文番号および初期契約解除を行う旨）を記載し、レンタル端末一式に同梱の上、初期契約解除期限までに当社指定住所に追跡が可能な宅配または郵便を使用し返還するものとします。なお、返還に要する費用は契約者の負担となります。
４．初期契約解除の効力は、前項に基づく書面およびレンタル端末一式 が当社指定住所へ発送されたときに生じます。
５．初期契約解除を行使 する場合、初期費用（「別紙1-2」参照）を除く、損害賠償金もしくは違約金その他金銭を請求されることはありません。
６．初期契約解除を行使 する場合、以下の各号に該当すると判断した場合、当社はその申出を承諾しないことがあります。
(1)当社へのレンタル端末一式 の発送が初期契約解除期限を過ぎた場合
(2)返却を受けたレンタル端末が損傷・故障・液晶割れ・水没、または端末一式（端末本体・SIMカード・付属品）の不返還もしくは不足があった場合
(3)通信量が5GB以上利用されていた場合

<div class="small-title">第十七条（レンタル端末の返還）</div>
１． 契約者は、本サービスの解約または 契約解除があったとき、当社所定の方法によりレンタル端末一式を当社の指定する場所へ速やかに返還するものとします。なお、返還においては追跡が可能な宅配または郵便を使用するものとし、返還に要する費用は契約者が負担するものとします。
２． 契約者は前項 の場合において、レンタル端末を返還しなかったとき、または追跡可能な宅配または郵便を使用せず返還した結果、レンタル端末を当社が受領できなかった場合、当社規定（「別紙1-3」参照）の損害金を支払うものとします。

<div class="small-title">第十八条（反社会的勢力に対する表明保証）</div>
１．	契約者は、本サービス利用契約締結時および締結後において、自らが暴力団または暴力団関
係企業 ・団体その他反社会的勢力（以下、総称して「反社会的勢力」という）ではないこと、反社会的勢力の支配・影響を受けていないことを表明し、保証するものとします。
２．契約者が次の各号のいずれかに該当することが合理的に認められた場合、当社は、何ら催告することなく契約 を解除できるものとします。
(1)反社会的勢力に属していること
(2)反社会的勢力が経営に実質的に関与していること
(3)反社会的勢力を利用していること
(4)反社会的勢力に対して資金等を提供し、または便宜を供与するなどの関与をしていること
(5)反社会的勢力と社会的に非難されるべき関係を有していること
(6)自らまたは第三者を利用して関係者に対し、詐術、暴力的行為、または脅迫的言辞を用いたこと
３． 前項各号のいずれかに該当した契約者は、当社が当該解除により被った損害を賠償する責任を負うものとし、自らに生じた損害の賠償を当社に請求できないものとします。

<div class="small-title">第十九条（利用停止）</div>
１．当社は、本サービスの仕様として定める場合の他、契約者が次のいずれかに該当するときは、当社が定める期間、本サービスの提供を停止することがあります。
(1)本サービスの料金その他の債務について、支払期日を経過してもなお支払わないとき（当社が定める方法による支払のないとき、および、支払期日経過後に支払われ当社がその支払の事実を確認できないときを含みます。また、契約者が、当社と複数の契約をしている時、いずれか1個の契約における料金その他 の債務の支払が延滞した時を含みます）
(2)本サービスに関する申込みについて、申込みの内容が事実に反することが判明したとき
(3)契約者が当社に届出ている情報に変更があったにもかかわらず、当該変更にかかる届出を怠ったとき、または、届出られた内容が事実に反することが判明したとき
(4)当社の業務または本サービスにかかる電気通信設備に支障を及ぼし、または支障を及ぼすおそれのある行為が行われたとき
(5)本サービスが他の契約者に重大な支障を与える態様で使用されたとき
(6)本サービスが違法な態様で使用されたとき
(7)前各号のほか、本規約の定めに違反する行為が行われたとき
２．本条に基づく本サービスの提供の停止があっても、本サービスの月額料金は発生します。
３．当社は、本条に基づく本サービスの提供の停止について、損害賠償または本サービスの料金の全部または一部の返金は行いません 。

<div class="small-title">第二十条 （補償オプション）</div>
１．補償オプションとは、契約者が端末本体について破損による故障・液晶割れ・水没、盗難・紛失が生じた場合に発生する端末損害金の一部または全額の支払いを免除するオプションサービスです。
２．本サービスの契約の際に別途補償オプションを契約したレンタル端末のみにこのオプションサービスを適用します。利用開始後の契約はできないものとします。
３．補償オプションの対象は、端末本体のみです。
４．端末損害金免除適用の前に、当社による審査があります。補償適応審査の結果が通れば、損害金の一部または全額免除となります。
５．故障が生じ通常の使用が不能となった場合、レンタル端末と同等のものと無償交換します。但し、軽微な外装の擦傷若しくは通常の使用に不都合がないと当社が判断した場合は、この限りではありません。
６．盗難・紛失の場合、契約者は、当社に対し、別紙1-3の端末損害金を支払うことにより、端末本体の交換を受けられるものとします。端末本体が後日発見された場合でも、端末損害金の返金は行いません。
７．故障の場合、端末本体をご返送いただく必要があります。ご返送いただいた場合のみ端末損害金を免除します。
８．盗難・紛失が生じた場合、必ず盗難・紛失の経緯詳細が記された日本の警察署が発行した盗難届出証明書または紛失届出証明書を当社に提出するものとします。
９．各補償オプションはお届け日をサービス開始日とし、端末の故障・液晶割れ・水没、盗難・紛失、バッテリー劣化の場合などの無償交換の利用上限はレンタル端末1台につき1年間に1回までとします。また、解約日をもって失効するものとします。

<div class="small-title">第二十一条　(サービスの停止・変更・廃止)</div>
１．当社は、契約者への事前通知、承諾なしに本サービスの内容の全部または一部の変更、追加および廃止を行なうことができるものとします。
２．当社は、本サービスの保守点検等運営上の理由により、契約者への事前通知、承諾なしに本サービスを中断、停止することができるものとします。
３．前項に規定する事態により、契約者に不利益、障害が発生したとしても、当社は一切の責任を負わないものとします。

<div class="small-title">第二十二条　(個人情報の取扱い)</div>
１．本サービスの申込み、契約締結のためにご提示いただいた個人情報については、次の各号に定める利用目的のために必要な範囲で適正に取り扱います。
(1)本サービス等に関する問合せ、ご相談にお答えすること
(2)ご注文いただいた商品の発送、本人確認、料金案内、請求、サービス提供条件変更案内、サービス停止、契約解除などの連絡、その他サービス提供に係わるご案内を行うこと
(3)当社または当社の提携会社が提供するサービスに関する販売推奨・アンケート調査および景品などの発送を行うこと
(4)当社サービスの改善または新サービス開発のためにご提示いただいた情報の分析を行うこと
２．当社は、サービス提供に必要となる業務の実施に際し、業務委託先に個人情報を提供する場合があります。その場合、個人情報保護が十分に図られている企業を選定し、個人情報保護の契約を締結する等、必要かつ適切な処置を実施します。
３．当社は、個人情報を本人の同意を得ることなく、業務委託先以外の第三者に対して提供しません。ただし、法令により定めがある事項については、その定めるところによります。
４．レンタル端末の利用にあたり、契約者が使用したデータ・閲覧情報・履歴情報等は当該契約者にて適切に管理・消去するものとします。当該端末利用中または契約解除および端末返還後の情報管理・データ消失については、当社は一切の責任を負いません。
５．当社は広告の効果測定のため、第三者の運営するツールから当社ウェブサイトに訪れる前にクリックされている広告の情報（クリック日や広告掲載サイトなど）を取得し、ご注文情報と照合する場合があります。

<div class="small-title">第二十三条　(準拠法・裁判の管轄)</div>
１．本規約の成立、効力、履行および解釈に関しては日本法が適用されるものとします。
２．本サービスに関する訴訟については、当社本店所在地を管轄する簡易裁判所または地方裁判所を第一審の専属的合意管轄裁判所とします。

・2022年11月1日制定


<div class="small-title">別紙</div>
1-1プランについて
本規約に基づいて、当社が契約者に提供する本サービスの種別等および利用料金等は以下のとおりとし、利用申込みの際、契約プランおよび契約形態を選択していただきます。


'|raw|nl2br }}

                <table class="table1">
                    <tr>
                        <th>プラン名</th>
                        <th>モバイルルータープラン</th>
                        <th>ホームルータープラン</th>
                    </tr>
                    <tr>
                        <td>月額料金</td>
                        <td>4,800円</td>
                        <td>4,800円</td>
                    </tr>
                    <tr>
                        <td>初期費用</td>
                        <td>3,300円</td>
                        <td>3,300円</td>
                    </tr>
                    <tr>
                        <td>契約形態</td>
                        <td>契約期間1ヶ月</td>
                        <td>契約期間1ヶ月</td>
                    </tr>
                </table>

{{ '

1-2各種手続きに関する手数料について

'|raw|nl2br}}

                <table class="table1">
                    <tr>
                        <th>区分</th>
                        <th>金額</th>
                        <th>内容</th>
                    </tr>
                    <tr>
                        <td>初期費用</td>
                        <td>3,300円</td>
                        <td>利用申込をし、その承諾を受けた際に要する費用</td>
                    </tr>
                </table>

{{ '

1-3損害金について
第17条（レンタル端末の返還）の規定により、返還を受けたレンタル端末が損傷・故障・液晶割れ・水没 があった場合や、端末一式（端末本体・SIMカード・付属品）の不返還もしくは不足があった場合 、以下の損害金のご請求を致します。また、端末本体の損害金についてはSIMカードや付属品の有無を問わず同額とします。 なお、支払われた損害金の返金は行いません。

【安心補償未加入時】

'|raw|nl2br}}

                <table class="table1">
                    <tr>
                        <th>区分</th>
                        <th>金額</th>
                    </tr>
                    <tr>
                        <td>端末本体</td>
                        <td>22,000円</td>
                    </tr>
                    <tr>
                        <td>SIMカード</td>
                        <td>6,600円</td>
                    </tr>
                    <tr>
                        <td>付属品※1</td>
                        <td>6,600円</td>
                    </tr>
                </table>
{{ '

【安心補償ライト加入時】

'|raw|nl2br}}

                <table class="table1">
                    <tr>
                        <th>区分</th>
                        <th>金額</th>
                    </tr>
                    <tr>
                        <td>端末本体</td>
                        <td>11,000円※2</td>
                    </tr>
                    <tr>
                        <td>SIMカード</td>
                        <td>6,600円</td>
                    </tr>
                    <tr>
                        <td>付属品※1</td>
                        <td>6,600円</td>
                    </tr>
                </table>
{{ '

【安心保障フリー加入時】

'|raw|nl2br}}

                <table class="table1">
                    <tr>
                        <th>区分</th>
                        <th>金額</th>
                    </tr>
                    <tr>
                        <td>端末本体</td>
                        <td>0円※2</td>
                    </tr>
                    <tr>
                        <td>SIMカード</td>
                        <td>6,600円</td>
                    </tr>
                    <tr>
                        <td>付属品※1</td>
                        <td>6,600円</td>
                    </tr>
                </table>
{{ '

※1付属品損害金は、ホームルータープランに付属の専用ACアダプターをいいます。
※2盗難・紛失時に警察への届出をいただけない場合や、故障・液晶割れ・水没 時に端末の返却が確認できない場合、損害金として22,000円(税込)をご負担いただきます。

'|raw|nl2br}}
            </div>
        </div>
    </div>
{% endblock %}