{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}


{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
    <style>
        .ec-layoutRole .ec-layoutRole__contents{
            max-width: none;
        }
        .select-css {
            padding: 0 10px !important;
            height: 40px !important;
        }
        #coupon{
            display: none !important;
        }
    </style>
    <script>
        function getFirstDayOfNextMonth() {
            const date = new Date();
            return new Date(date.getFullYear(), date.getMonth() + 1, 1);
        }

        $(function () {


            var $redirectCallback = function() {
                loadingOverlay();
                $('#shopping_order_redirect_to').val($(this).attr('data-path'));
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
                setTimeout(function () {
                    loadingOverlay("hide");
                }, 2000);
            };
            $('[data-trigger]').each(function() {
                $(this).on($(this).attr('data-trigger'), $redirectCallback);
            });


            var nextMonth = getFirstDayOfNextMonth();
            var month = nextMonth.getMonth() + 1;
            var day = 1;

            {% set next_date_temp = "now" | date ( "Y-m-01") %}
            var txt = '・次回課金日：{{ next_date_temp|date_modify("+#{1} months")|date("Y年m月1日") }}';
            // {% if(is_use_current_month) %}
            // 　　　　　var txt = '・次回課金日：{{ next_date_temp|date_modify("+#{1} months")|date("Y年m月1日") }}';

            // {% else %}
            //         var txt = '・次回課金日：{{ next_date_temp|date_modify("+#{2} months")|date("Y年m月1日") }}';
            // {% endif %}

            // var txt = '・次回課金日：'+ nextMonth.getFullYear() + '年' + month + '月' + day + '日';
            $('#next_month').text(txt);

            console.log($('#cart_move').data('href'))
            //var hr = $('#cart_move').data('href') + '&token=' + $('#shopping_order__token').val();
            var url = window.location.origin;
            var hr = url + '/shop/plugin/stripe_rec/checkout_page';
            $('#cart_move').click(function(e){
                e.preventDefault();
                var form = $('#shopping-form');
                console.log(form.serialize());
                var url = '{{ url('shopping_confirm') }}'
                console.log(hr)
                console.log(url);
                $.ajax({
                    url: url,
                    type: form.attr('method'),
                    data: form.serialize(),
                    dataType: 'json',
                }).done(function(data) {
                    result = data['done'];
                    if (result){
                        window.location.href = hr;
                    }else{
                        alert(data['messages']);
                    }
                }).fail(function(data) {
                    alert('{{ '失敗しました。'|trans }}');
                })

            })

            $('#btn_apply_coupon').click(function(e){
                //coupon_code = $('#shopping_order_coupon_cd').val();
                //if (coupon_code == ''){
                //    alert('クーポンコードをご入力ください');
                //    return;
                //}
                $('#mode').val('apply_coupon');

                $('#shopping-form').submit();
            })
            $('#btn_cancel_coupon').click(function(e){
                //coupon_code = $('#shopping_order_coupon_cd').val();
                //if (coupon_code == ''){
                //    alert('クーポンコードをご入力ください');
                //    return;
                //}
                $('#mode').val('cancel_coupon');

                $('#shopping-form').submit();
            })
        })

    </script>
    <div id="wrap" class="formBg">
        <main id="confirmation">
            <section class="formContent confirmationContent" style="max-width: 860px !important;">
                <h2>お客様情報入力</h2>
                <form id="shopping-form" method="post" action="{{ url('shopping_confirm') }}">
                    {{ form_widget(form._token) }}
                    {{ form_widget(form.redirect_to) }}
                    {% if is_granted('ROLE_USER') == false %}
                        <div style="display: none !important;">
                            <input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="{{ Order.name01 }}">
                            <input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="{{ Order.name02 }}">
                            <input type="hidden" id="customer-kana01" class="customer-in" name="customer_kana01" value="{{ Order.kana01 }}">
                            <input type="hidden" id="customer-kana02" class="customer-in" name="customer_kana02" value="{{ Order.kana02 }}">
                            <input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="{{ Order.companyName }}">
                            <input type="hidden" id="customer-postal_code" class="customer-in" name="customer_postal_code" value="{{ Order.postal_code }}">
                            <input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="{{ Order.pref }}">
                            <input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="{{ Order.addr01 }}">
                            <input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="{{ Order.addr02 }}">
                            <input type="hidden" id="customer-phone_number" class="customer-in" name="customer_phone_number" value="{{ Order.phone_number }}">
                            <input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="{{ Order.email }}">
                        </div>
                    {% endif %}

                    <input type="hidden" id="mode" name="mode">

                    {# {% for shipping in Order.shippings %}
                        {% set idx = loop.index0 %}
                        {% set isShowReducedTaxMess = false %}
                        <div class="ec-orderDelivery__actions" style="display: none !important">
                            <div class="ec-selects">
                                <div class="ec-select">
                                    <label>{{ '配送方法'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].Delivery, { 'attr': { 'class': 'form-control', 'data-trigger': 'change' }}) }}
                                    {{ form_errors(form.Shippings[idx].Delivery) }}
                                </div>
                                <div class="ec-select ec-select__delivery">
                                    <label>{{ 'お届け日'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].shipping_delivery_date, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.Shippings[idx].shipping_delivery_date) }}
                                </div>
                                <div class="ec-select ec-select__time">
                                    <label>{{ 'お届け時間'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].DeliveryTime, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.Shippings[idx].DeliveryTime) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %} #}
                    <div class="ec-orderPayment" style="display: none;">
                        <div class="ec-rectHeading">
                            <h2>{{ 'お支払方法'|trans }}</h2>
                        </div>
                        <div class="ec-radio">
                            {% for key, child in form.Payment %}
                                <div style="display: block;">
                                    {% set Payment = form.Payment.vars.choices[key].data %}
                                    {{ form_widget(child, { 'attr': { 'data-trigger': 'change' }}) }}
                                    {% if Payment.payment_image is not null %}
                                        <p><img src="{{ asset(Payment.payment_image, 'save_image') }}"></p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="ec-input {{ has_errors(form.Payment) ? ' error' }}">{{ form_errors(form.Payment) }}</div>
                    </div>
                    {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                        <div class="ec-orderPayment" style="display: none;">
                            <div class="ec-input {{ has_errors(form.use_point) ? ' error' }}">
                                <p>{{ '%point% pt が利用可能です。'|trans({ '%point%': Order.Customer.Point|number_format }) }}</p>
                                {{ form_widget(form.use_point, { 'attr': { 'type': 'text', 'class': 'form-control', 'data-trigger': 'change' }}) }}
                                {{ form_errors(form.use_point) }}
                            </div>
                        </div>
                    {% endif %}
                    {#<div class="ec-orderConfirm" style="display: none;">#}
                    {#    <div class="ec-input">#}
                    {#        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)'|trans, 'rows': '6'}}) }}#}
                    {#        {{ form_errors(form.message) }}#}
                    {#    </div>#}
                    {#</div>#}
                    <div class="confirmationContentBlockL">
                        <h3>お客様情報</h3>
                        <div class="confirmationContentBlockL__inner">
                            {{ Order.name01 }} {{ Order.name02 }} 様<br>
                            〒{{ Order.postal_code }}<br>
                            {{ Order.pref }}{{ Order.addr01 }}{{ Order.addr02 }}<br>
                            {{ Order.phone_number }}
                        </div>
                        <h3>定期購買情報</h3>
                        <div class="confirmationContentBlockL__inner">
                            本取引では{{ (Order.MergedProductOrderItems[0].initPrice - Order.discount)|number_format }}円を課金し、以下の内容で自動継続課金の登録を行います。
                            <ul>
                                <li id="next_value">・課金額：{{ Order.MergedProductOrderItems[0].nextPrice|number_format }}円 税込</li>
                                <li id="next_month"></li>
                                <li>・課金間隔：1ヵ月ごと</li>
                            </ul>
                        </div>
                        <h3>配送情報</h3>
                        <div class="ec-orderDelivery">
                            {% for shipping in Order.shippings %}
                                {% set idx = loop.index0 %}
                                {% set isShowReducedTaxMess = false %}
                                <div class="ec-orderDelivery__title">{{ 'お届け先'|trans }}{% if Order.multiple %}({{ loop.index }}){% endif %}
                                    <div class="ec-orderDelivery__change">
                                        {% if is_granted('ROLE_USER') %}
                                            <button class="ec-inlineBtn" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping', {'id': shipping.id}) }}">{{ '変更'|trans }}</button>
                                        {% else %}
                                            <button class="ec-inlineBtn" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping_edit', {'id': shipping.id}) }}">{{ '変更'|trans }}</button>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="ec-orderDelivery__address">
                                    <p>{{ ''|trans }}{{ shipping.name01 }} {{ shipping.name02 }}{{ ' 様'|trans }}</p>
                                    <p>{{ '〒'|trans }}{{ shipping.postal_code }} <br>{{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</p>
                                    <p>{{ shipping.phone_number }}</p>
                                </div>
                                <div class="ec-orderDelivery__actions">
                                    <div class="">
                                        <div class="ec-select">
                                            <label>{{ '配送方法'|trans }}</label>
                                            {{ form_widget(form.Shippings[idx].Delivery, { 'attr': { 'class': 'form-control', 'data-trigger': 'change' }}) }}
                                            {{ form_errors(form.Shippings[idx].Delivery) }}
                                        </div>
                                        <div class="ec-select ec-select__time">
                                            <label>{{ 'お届け時間'|trans }}</label>
                                            {{ form_widget(form.Shippings[idx].DeliveryTime, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_errors(form.Shippings[idx].DeliveryTime) }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="warning" style="margin-bottom:20px;">
                                【ご注意】お届け日の指定はできません。<br>
                                ご注文日より最短でのお届けとなります。
                            </div>
                        </div>
                        <h3>お支払方法</h3>
                        <div class="confirmationContentBlockL__inner">
                            クレジットカード決済
                        </div>
                        <h3>クーポン</h3>
                        <div class="confirmationContentBlockL__inner">
                            {{ form_widget(form.coupon_cd, { 'attr': { 'class': 'form-control', 'placeholder' : 'クーポンをお持ちの方はクーポンコードを入力してください' }}) }}
                            {{ form_errors(form.coupon_cd) }}
                            <div>&nbsp;</div>
                            <button type="button" id="btn_apply_coupon" class="btn btn-warning">クーポン使用</button>&nbsp;&nbsp;
                            <button type="button" id="btn_cancel_coupon" class="btn">キャンセル</button>
                        </div>
                        <h3>お問い合わせ欄</h3>
                        <div class="confirmationContentBlockL__inner">
                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)'|trans, 'rows': '6'}}) }}
                        </div>
                    </div>
                    <div class="confirmationContentBlockR">
                        <div class="confirmationContentBlockRInner">
                            <div class="confirmationContentBlockRInner__img" style="text-align:center;">
                                {% if Order.MergedProductOrderItems[0].Product.id==3 %}
                                    <img src="/html/user_data/assets/img/common/mobile_img.png" alt="">
                                {% else %}
                                    <img src="/html/user_data/assets/img/common/home_img.png" alt="">
                                {% endif %}
                            </div>
                            {% for shipping in Order.shippings %}
                                {% set idx = loop.index0 %}
                                {% set isShowReducedTaxMess = false %}
                                <div class="ec-orderDelivery__item">
                                    <ul class="ec-borderedList">
                                        {% for orderItem in shipping.productOrderItems %}
                                            <ul>
                                                <li>
                                                    <dl>
                                                        <dt>{{ orderItem.productName }}：</dt>
                                                        <dd>{% if orderItem.ship == 1 %}4,800円{% else %}(4,800円){% endif %}</dd>
                                                    </dl>
                                                </li>
                                                <li>
                                                    <dl>
                                                        <dt>初期費用111：</dt>
                                                        <dd>3,300円</dd>
                                                    </dl>
                                                </li>
                                                <li>
                                                    <dl>
                                                        <dt>端末補償：</dt>
                                                        <dd>
                                                            {{ orderItem.productClass.classCategory2 }}
                                                            {% if orderItem.productClass.classCategory2 == 'フリー補償' %}
                                                                (550円)
                                                            {% elseif orderItem.productClass.classCategory2 == 'ライト補償' %}
                                                                (275円)
                                                            {% endif %}
                                                        </dd>
                                                    </dl>
                                                </li>
                                                <li>
                                                    <dl>
                                                        <dt>利用開始日：</dt>
                                                        <dd>{% if orderItem.ship == 1 %} 最短 {% else %} 翌月 {% endif %}</dd>
                                                    </dl>
                                                </li>
                                                {% if(orderItem.productName == "モバイルプラン") %}
                                                    <li>
                                                        <dl>
                                                            <dt>USB ACアダプター:</dt>
                                                            <dd>
                                                                {% if (orderItem.productClass.classCategory2=='購入する') %}
                                                                    1,540円
                                                                {% else %}
                                                                    購入しない
                                                                {% endif %}
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endfor %}
                                    </ul>
                                    <p>{{ isShowReducedTaxMess ? '※ は軽減税率対象商品です。'|trans }}</p>
                                </div>
                            {% endfor %}

                            <a href="{{ url("cart") }}" class="delete"><span>✕</span>内容変更または削除する</a>
                            <div class="confirmationContentBlockRInner__total">
                                <dl>
                                    <dt>小計：</dt>
                                    <dd>
                                        {{ (Order.MergedProductOrderItems[0].initPrice - Order.discount)|number_format }}円</dd>
                                </dl>
                            </div>
                            <button data-href="https://free-max.com/user_data/creditcard?price={{ Order.subtotal }}" id="cart_move" class="btn">カード入力へ進む</button>
                        </div>
                    </div>
                </form>
            </section>
        </main>
    </div>
{% endblock %}
