{% extends 'default_frame.twig' %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
{{ include('StripePaymentGateway/Resource/assets/css/base.css.twig') }}
{{ include('StripePaymentGateway/Resource/assets/css/stripe_4.css.twig') }}
{{ include('StripeRec/Resource/assets/css/checkout.css.twig') }}
{{ include('StripeRec/Resource/assets/css/card_form.css.twig') }}
{{ include('StripeRec/Resource/assets/js/card_form.js.twig') }}
{% endblock javascript %}

{% block main %}
    <style>
        footer{
            background: white !important;
        }
        ul.mypageContent__menu>li:nth-child(3)>a{
            border: 2px solid #0B7AB6 !important;
            color: #0B7AB6;
            font-weight: bold;
        }
        ul#credit_form>li>dl>dd{
            display:block;
        }
        .error {
            display:block;
            color: #e74c3c;
        }
        .bg-load-overlay{
            height: 0 !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

    <script>
        $(function() {
            $('#change_credit').click(function(e){
                e.preventDefault();
                var form = $('#shopping-form');
                if(form.valid()){
                    var url = '{{ url('plugin_stripe_payment_gateway_update_card') }}'
                    $.ajax({
                        url: url,
                        type: form.attr('method'),
                        data: form.serialize(),
                        dataType: 'json',
                    }).done(function(data) {
                        alert('カード情報を変更しました。')
                    }).fail(function(data) {
                        alert('{{ 'カード情報変更に失敗しました。'|trans }}');
                    })
                }

            })
        })
    </script>
    <div id="wrap">
        <main id="mypage">
            <section class="mypageContent customerContent">
                <h2>マイページ/クレジットカード情報変更</h2>
                <div class="mypageContent__name">{{ 'ようこそ%last_name% %first_name%さん'|trans({ '%last_name%': app.user.name01, '%first_name%': app.user.name02 }) }}</div>
                {% include 'Mypage/navi.twig' %}
                <div class="mypageContentBox">
                    <div class="creditcardContent__text">
                        ご利用可能なクレジットカードは以下の通りです。
                        <div>
                            <img src="/html/user_data/assets/img/icons/visa.gif">
                            <img src="/html/user_data/assets/img/icons/master.gif">
                            <img src="/html/user_data/assets/img/icons/jcb.gif">
                            <img src="/html/user_data/assets/img/icons/amex.gif">
                            <img src="/html/user_data/assets/img/icons/mufg.gif">
                            <img src="/html/user_data/assets/img/icons/nicos.gif">
                            <img src="/html/user_data/assets/img/icons/dc.gif">
                            <img src="/html/user_data/assets/img/icons/ufj.gif">
                            <img src="/html/user_data/assets/img/icons/diners.gif">
                            <img src="/html/user_data/assets/img/icons/discover.gif">
                        </div>
                    </div>
                    <form id="shopping-form" method="post" action="{{ url("card_change") }}">
                        <div class="wrapper" id="app">
                            <div class="card-form">
                                <div class="card-list">
                                    <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
                                        <div class="card-item__side -front">
                                            <div class="card-item__focus" v-bind:class="{'-active' : focusElementStyle }" v-bind:style="focusElementStyle" ref="focusElement"></div>
                                            <div class="card-item__cover">
                                                <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
                                            </div>

                                            <div class="card-item__wrapper">
                                                <div class="card-item__top">
                                                    <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png" class="card-item__chip">
                                                    <div class="card-item__type">
                                                        <transition name="slide-fade-up">
                                                            <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'" v-if="getCardType" v-bind:key="getCardType" alt="" class="card-item__typeImg">
                                                        </transition>
                                                    </div>
                                                </div>
                                                <label for="cardNumber" class="card-item__number" ref="cardNumber">
                                                    <template v-if="getCardType === 'amex'">
                                <span v-for="(n, $index) in amexCardMask" :key="$index">
                                    <transition name="slide-fade-up">
                                        <div class="card-item__numberItem" v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''">*</div>
                                        <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" :key="$index" v-else-if="cardNumber.length > $index">${cardNumber[$index]}</div>
                                        <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" v-else :key="$index + 1">${n}</div>
                                    </transition>
                                </span>
                                                    </template>
                                                    <template v-else>
                                <span v-for="(n, $index) in otherCardMask" :key="$index">
                                    <transition name="slide-fade-up">
                                    <div class="card-item__numberItem" v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''">*</div>
                                    <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" :key="$index" v-else-if="cardNumber.length > $index">${cardNumber[$index]}</div>
                                    <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }" v-else :key="$index + 1">${n}</div>
                                    </transition>
                                </span>
                                                    </template>
                                                </label>
                                                <div class="card-item__content">
                                                    <label for="cardName" class="card-item__info" ref="cardName">
                                                        <div class="card-item__holder">Card Holder</div>
                                                        <transition name="slide-fade-up">
                                                            <div class="card-item__name" v-if="cardName.length" key="1">
                                                                <transition-group name="slide-fade-right">
                                                                    <span class="card-item__nameItem" v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')" v-if="$index === $index" v-bind:key="$index + 1">${n}</span>
                                                                </transition-group>
                                                            </div>
                                                            <div class="card-item__name" v-else key="2">Full Name</div>
                                                        </transition>
                                                    </label>
                                                    <div class="card-item__date" ref="cardDate">
                                                        <label for="cardMonth" class="card-item__dateTitle">Expires</label>
                                                        <label for="cardMonth" class="card-item__dateItem">
                                                            <transition name="slide-fade-up">
                                                                <span v-if="cardMonth" v-bind:key="cardMonth">${cardMonth}</span>
                                                                <span v-else key="2">MM</span>
                                                            </transition>
                                                        </label>
                                                        /
                                                        <label for="cardYear" class="card-item__dateItem">
                                                            <transition name="slide-fade-up">
                                                                <span v-if="cardYear" v-bind:key="cardYear">${String(cardYear).slice(2,4)}</span>
                                                                <span v-else key="2">YY</span>
                                                            </transition>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-item__side -back">
                                            <div class="card-item__cover">
                                                <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'" class="card-item__bg">
                                            </div>
                                            <div class="card-item__band"></div>
                                            <div class="card-item__cvv">
                                                <div class="card-item__cvvTitle">CVV</div>
                                                <div class="card-item__cvvBand">
                            <span v-for="(n, $index) in cardCvv" :key="$index">
                                *
                            </span>
                                                </div>
                                                <div class="card-item__type">
                                                    <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + getCardType + '.png'" v-if="getCardType" class="card-item__typeImg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-form__inner">
                                    <div class="card-input">
                                        <label for="cardNumber" class="card-input__label">Card Number</label>
                                        <input type="text" id="cardNumber" name="cardNumber" class="card-input__input" v-mask="generateCardNumberMask" v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber" autocomplete="off">

                                    </div>
                                    <div class="card-input">
                                        <label for="cardName" class="card-input__label">Card Holders</label>
                                        <input type="text" id="cardName" class="card-input__input" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
                                    </div>
                                    <div class="card-form__row">
                                        <div class="card-form__col">
                                            <div class="card-form__group">
                                                <label for="cardMonth" class="card-input__label">Expiration Date</label>
                                                <select class="card-input__input -select" id="cardMonth" name="cardMonth" v-model="cardMonth" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                                    <option value="" disabled selected>Month</option>
                                                    <option v-bind:value="n < 10 ? '0' + n : n" v-for="n in 12" v-bind:disabled="n < minCardMonth" v-bind:key="n">
                                                        ${n < 10 ? '0' + n : n}
                                                    </option>
                                                </select>
                                                <select class="card-input__input -select" id="cardYear" name="cardYear" v-model="cardYear" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                                    <option value="" disabled selected>Year</option>
                                                    <option v-bind:value="$index + minCardYear" v-for="(n, $index) in 12" v-bind:key="n">
                                                        ${$index + minCardYear}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="card-form__col -cvv">
                                            <div class="card-input">
                                                <label for="cardCvv" class="card-input__label">CVV</label>
                                                <input type="text" class="card-input__input" id="cardCvv" name="cardCvv" v-mask="'####'" maxlength="4" v-model="cardCvv" v-on:focus="flipCard(true)" v-on:blur="flipCard(false)" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="card_error" style="color:red; display:none;">お支払いできません。 カード情報を再確認してください。</div>
                                    <button type="submit" class="card-form__button" id="change_credit">変更する</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </section>
        </main>
    </div>

{% endblock %}
