{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<header class="login" style="width:100%; z-index: 10;">
    <div class="logo">
        <h1>
            <a href="{{ url('homepage') }}">
                <img src="/html/user_data/logo.png" alt="FreeWimax5G">
            </a>
        </h1>
    </div>
    {% if is_granted('ROLE_USER') %}
        <div class="btnArea">
            <a href="{{ url('mypage') }}"><img src="/html/user_data/assets/img/icons/mypage_ico.svg" alt="mypage">マイページ</a>
            <a href="{{ url('logout') }}"><img src="/html/user_data/assets/img/icons/logout_ico.svg" alt="mypage">ログアウト</a>
        </div>
    {% else %}
        <div class="btnArea">
            <div class="ec-headerNav__item">
                <a href="{{ url('entry') }}">
                    <i class="ec-headerNav__itemIcon fas fa-user fa-fw"></i>
                    <span class="ec-headerNav__itemLink">{{ '新規会員登録'|trans }}</span>
                </a>
            </div>
            <div class="ec-headerNav__item">
                <a href="{{ url('mypage_login') }}">
                    <i class="ec-headerNav__itemIcon fas fa-lock fa-fw"></i>
                    <span class="ec-headerNav__itemLink">{{ 'ログイン'|trans }}</span>
                </a>
            </div>
        </div>
    {% endif %}

</header>